<section class="rang">
    <h2 class="rang-title"><ng-content></ng-content></h2>
    <div class="rang-info">
        <div class="rang-points">

            @if (type === 'SOLO') {
            <img [src]="selectRankIcon(leagueInfo?.[0]?.tier)" />
            <p>{{leagueInfo?.[0]?.tier}} {{leagueInfo?.[0]?.rank}}</p>
            <p>{{leagueInfo?.[0]?.leaguePoints}} LP</p>
            }
            @else if (type === 'FLEX') {
            <img [src]="selectRankIcon(leagueInfo?.[1]?.tier)" />
            <p>{{leagueInfo?.[1]?.tier}} {{leagueInfo?.[1]?.rank}}</p>
            <p>{{leagueInfo?.[1]?.leaguePoints}} LP</p>
            }


        </div>

        <div class="rang-wins">
            <p>TODO</p>
            <p>Winrate: TODO</p>
        </div>
    </div>

</section>