<section class="search-bar">
  <div class="select-region">
    <select #selectedRegion>
      <option value="eun1">EUNE</option>
      <option value="euw1">EUW</option>
      <option value="na1">NA</option>
    </select>
  </div>

  <span class="input-container">
    <span class="icon"><i class="fa-solid fa-link"></i></span>
    <input #input (keydown.enter)="getData(selectedRegion.value, input.value); input.value=''" class="nick-input"
      placeholder="Enter nickname" />
  </span>

  <button (click)="getData(selectedRegion.value, input.value); input.value=''" class="search-btn">SEARCH</button>

  @if (loadingService.isLoading$ | async) {
  <p class="loading-info">Searching...</p>
  }

  @if (loadingService.isError$ | async) {
  <p class="error-info">No player with the specified name!</p>
  }
</section>